.confirm-modal {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 25px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    user-select: none;
    border: 2.5px dashed #636363;
    background-color: lightgray;
    font-family: "Silkscreen";
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #636363;
}

.custom-button{
    color: darkblue;
    border: 2.5px dashed #636363;
    background-color: #B7C9E2;
    font-family: "Silkscreen";
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #636363;
}

.custom-button:hover {
    filter: drop-shadow(0 0 0.3em darkblue);
    border-color: darkblue;
}

.modal-overlay{
    user-select: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-label{
    color: darkblue;
    font-family: "Silkscreen";
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #636363;
}